[Unit]
Description=pydnshelper
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/pi/pydnsHelper
ExecStart=/home/pi/pydnsHelper/venv/bin/python3 /home/pi/pydnsHelper/dnsserver/manage.py runserver 0.0.0.0:8000
ExecStartPost=/home/pi/pydnsHelper/start_threads.sh
Restart=on-abort

[Install]
WantedBy=multi-user.target
