{% extends "base_generic.html" %}

{% block content %}
<div class="container-fluid">

  <!-- Breadcrumbs-->
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="#">Dashboard</a>
    </li>
    <li class="breadcrumb-item active">About</li>
  </ol>

  <!-- Area Chart Example-->
  <div class="card mb-3">
    <div class="card-header">
      <i class="far fa-question-circle"></i>
      About</div>
    <div class="card-body">
      <h4><i class="fab fa-python"></i> pyDNSHelper</h4>
      <address>
        <br>
        <strong class="fas fa-user-tie"> Artur Fogiel</strong>
        <br><a target="_blank" rel="noopener noreferrer" href="https://github.com/arturfog/pydnsHelper" class="fab fa-github"> https://github.com/arturfog/pydnsHelper</a>
      </address>
      <address>
        <strong>Version</strong>
        <br>
        <a>0.1.0</a>
      </address>
    </div>
    <div class="card-footer small text-muted"></div>
</div>
{% endblock %}