{% extends 'admin/change_list.html' %}

{% block object-tools %}
    <div>
        <form action="importsources/" method="POST">
            {% csrf_token %}
                <button type="submit">Import host sources</button>
        </form>
        <form action="downloadhosts/" method="POST">
            {% csrf_token %}
                <button type="submit">Download hosts</button>
        </form>
        <form action="importhosts/" method="POST">
            {% csrf_token %}
                <button type="submit">Import hosts entires</button>
        </form>
        <form action="genhosts/" method="POST">
            {% csrf_token %}
                <button type="submit">Generate hosts.txt</button>
        </form>
         <form action="ttlmonitor/" method="POST">
            {% csrf_token %}
                <button type="submit">Start TTL monitor</button>
        </form>
    </div>
    <br />
    {{ block.super }}
{% endblock %}
